name: XMAT Win64 Desktop Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: XboxMultiplayerAnalysisTool.sln

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@6bd8b7f7774af54e05809fcc5431931b3eb1ddee # v4.0.1
      with:
        dotnet-version: 8.0.x

    # Restore the solution
    - name: Restore the application
      run: dotnet restore $env:Solution_Name
      
    # Build
    - name: Build XMAT
      run: dotnet build $env:Solution_Name -c $env:Configuration --no-restore
      env:
        Configuration: ${{ matrix.configuration }}

    # Upload artifact (Debug)
    - name: Upload Artifacts
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      with:
        name: XMAT_CI_Build_${{ env.Configuration }}
        path: XMAT\bin\x64\${{ env.Configuration }}\net8.0-windows10.0.17763.0\win-x64\
      env:
        Configuration: ${{ matrix.configuration }}
